service gptp /vendor/bin/ptp4l -f /vendor/etc/gptp.cfg -i eth0
    class late_start
    user root
    group root system inet net_admin net_raw
    capabilities NET_ADMIN NET_RAW SYS_TIME
    disabled
    seclabel u:r:gptp:s0

service phc2sys /vendor/bin/phc2sys -s /dev/ptp0 -c CLOCK_REALTIME -O -37 \
        -z /dev/socket/ptp4l
    class late_start
    user root
    group root system inet net_admin net_raw
    capabilities SYS_TIME
    disabled
    seclabel u:r:gptp:s0

on property:vendor.gptp.enable=1
    start gptp
    start phc2sys

on property:vendor.gptp.enable=0
    stop phc2sys
    stop gptp
