[global]
#
# Aus dem gPTP-Profil (IEEE 802.1AS)
#
gmCapable               1
priority1               248
priority2               248
logSyncInterval         -3
syncReceiptTimeout      3
neighborPropDelayThresh 800
min_neighbor_prop_delay -20000000
assume_two_step         1
path_trace_enabled      1
follow_up_info          1
transportSpecific       0x1
ptp_dst_mac             01:80:C2:00:00:0E
network_transport       L2
delay_mechanism         P2P

#
# Automotive-Profil
#
BMCA                    noop
clientOnly              1
inhibit_announce        1
asCapable               true
ignore_source_id        1
step_threshold          1
operLogSyncInterval     0
operLogPdelayReqInterval 2
msg_interval_request    1
servo_offset_threshold  30
servo_num_offset_values 10

#
# Android-spezifisch
#
time_stamping           hardware
uds_address             /dev/socket/ptp4l
uds_ro_address          /dev/socket/ptp4lro
logging_level           6
verbose                 0
use_syslog              1

[eth0]
